* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    background-image: url(./assets/backgroundimg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.container-fluid .main-text {
    position: absolute;
    top: 21%;
    left: 17%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-fluid .main-text p,
.container-fluid .main-text h1 {
    color: #fff;
}

.container-fluid .main-text p {
    font-size: 20px;
}

.about-section {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 25px;
    padding: 20px;
}

.main-title h2{
    font-size: 40px;
    font-weight: bold;
    text-shadow:5px 2px 10px gray;
}

.about-section .about-text {
    width: 800px;
}